# macOS
.DS_Store

# Node / npm
node_modules/
npm-debug.log*
package-lock.json

# SAM / AWS build artifacts
.aws-sam/
.sam-cache/
.sarif/

# Local env & secrets
*.env
.env.*
!.env.example

# Editors / IDEs
.vscode/
.idea/

# Misc
coverage/
dist/
build/
*.log
